@model CourseOsbd.WebApp.ViewModels.Pagination.Company.CompaniesViewPage

<div>
    @Html.ActionLink("Создать компанию", "CreateCompany", "Test", null, new { type = "button", @class = "btn btn-outline-dark" })
    &nbsp;
    @Html.ActionLink("Мои компании", "MyCompanies", "Test", null, new { type = "button", @class = "btn btn-outline-dark" })
</div>
<br />
<div>
    @using (Html.BeginForm("SearchAllCompanies", "Test", FormMethod.Get))
    {
        @Html.Label("Поиск по названию")
        @:&nbsp;
        @Html.Editor("partOfName")
    }
</div>
<br />
<div class="text-center">
    @*<table class="table">*@

    @if (Model.Companies.Count() == 0)
    {
        <div>Не найдено компаний</div>
    }
    else
    {
        <table class="table2">
            <tr>
                <th>Id</th>
                <th>Компания</th>
                <th></th>
            </tr>
            @foreach (var company in Model.Companies)
            {
                <tr>
                    <td data="mine">@company.Id</td>
                    <td>@company.Name</td>
                    <td>
                        @Html.ActionLink("Больше", "CompanyDetails", "Test", new { companyId = company.Id }, new { type = "button", @class = "btn btn-outline-dark" })
                    </td>
                </tr>
            }
        </table>

        <div class="text-center">
            @if (Model.Pager.HasPreviousPage)
            {
                <i class="arrow left"></i>
                @Html.ActionLink((Model.Pager.PageNumber - 1).ToString(), GetAction(), "Test", new { page = Model.Pager.PageNumber - 1 })
            }
            &nbsp;
            @Model.Pager.PageNumber
            &nbsp;
            @if (Model.Pager.HasNextPage)
            {
                @Html.ActionLink((Model.Pager.PageNumber + 1).ToString(), GetAction(), "Test", new { page = Model.Pager.PageNumber + 1 })
                <i class="arrow right"></i>
            }
        </div>
    }

</div>